/*
 * From Joni: Overall comments
 * 
 * Hi Megan!  I will be adding feedback to this file in CSS comments like this one.
 * Overall, excellent job formattinga nd commenting your code here.  Super easy to follow.
 * 
 * One big thing I did notice is that none of the images are loading.  The way you are calling
 * them in the CSS looks perfect, but there is no "images" folder in your repository. Did you 
 * forget to commit that folder?
 */

/*
Project Name: Relaxr Landing Page
Client: Relaxr
Author: Megan Gartner
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after { /* Nice find! */
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

/* Great setup of helper classes here for your floats */
.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
  width: 100%;
}

/******************************************
/* BASE STYLES
/*******************************************/

#container {
     color: white;
     font-size: 24px;
     line-height: 1.4;
     /* 
      * For font names with spaces, make sure you enclose them in quotes - i.e. font-family: "Open Sans";.
      * No quotes works with most browsers, but there are some finicky ones (i.e. some versions of IE) that 
      * will not like the lack of quotes.
      */
     font-family: open sans;
     background: url(../images/header_bg.jpg) no-repeat;
     height: 500px;
}

.Benefits {
  background-color: #f0efef;
  font-size: 13px;
  line-height:1.4;
  font-family: open sans;
  font-weight: lighter;
  color:gray;
}

.quote {
  background: url(../images/testimonial_bg.jpg);
  font-size: 18px;
  line-height: 1.4px;
  font-family: open sans;
  color: white;
}

/* 
 * I saw your comments when you submitted your project about struggling with the button styles.
 * The styles for this container class (.Sign_up) look good, but you also need to add styles to the 
 * <p> tag inside of this container class in order to style the button itself.  (The button is the <p> tag 
 * here).  Those styles seem to be missing.
*/
.Sign_up {
  background-color:#f9e42e;
  height:75px;
  text-align: center;
  padding:25px;
  font-weight:700;
}

footer {
  text-align: center;
  background-color: black;
  color:white;
  font-size:9px;
}

/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  margin: auto;
  text-align: center
}

.quote {
  width: 100%;
  height: 300px;
  margin: auto;
  text-align: center;
}

blockquote {
  padding: 125px 0 25px 0;
  font-style:italic;
  font-weight: lighter;
}

p.container{
  padding:0 0 40px 0;
}

h1{
  text-align:left;
  width: 100%;
  padding:30px 0 60px 20px;
  font-size: 24px;
  font-weight:700;
}

h1.Benefits {
  padding:20px;
  font-size: 20px;
  font-weight:600;
}

h2 {
  background-color: yellow;
  color:black;
  background-size: 20px;
  padding: 10px;
}

h3 {
  color:#f9e42e;
  font-size: 24px;
  font-weight:800;
  padding:35px;
}

/* 
 * This style block is for the <p> tag inside of the .Sign_up container, right?  If that is the case
 * your selector is slightly off.  It should be:
 * 
 *    .Sign_up p
 *
 * This selector above says to look for a <p> tag inside a tag that has a class called "Sign_up".
 *    i.e. <section class="Sign_up"> <p> ... </p> </section>
 * 
 * The selector you are using says to look for a <p> tag that has a class called "Sign_up".
 *    i.e. <p class="Sign_up"> ... </p>
 */
p.Sign_up {
  background-color: #033048;
  font-size:12px;
  border-radius: 5px; 
  color: white;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/




